/* Estilo personalizado para el contenido del cuerpo */
body {
    background-color: #FF8A33;
    /* Color de fondo oscuro */
    color: #67442A;

    /* Texto blanco */
    && a {
        cursor: pointer;
        text-decoration: none;
    }
}
